<!DOCTYPE html>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Account </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" th:href="@{/favicon.png}">

    <!-- Theme Color -->
    <meta name="theme-color" content="#5867dd">

    <!-- Plugin styles -->
    <link rel="stylesheet" th:href="@{/vendors/bundle.css}" href="../static/vendors/bundle.css" type="text/css">
    <!-- App styles -->
    <link rel="stylesheet" th:href="@{/assets/css/app.css}" href="../static/assets/css/app.css" type="text/css">

</head>

<body class="login-img3-body">

<div class="container">

    <div>
        <h1 style="color: #222220; font-style: italic;">حساب شما با موفقیت ایجادشد</h1>
        <h2 style="color: #222220; font-style: italic;">لطفا ایمیل خود را برسی کنید. ایمیل فعال سازی برای شما ارسال شده.</h2>
        <a class="btn btn-primary btn-lg btn-block" style="margin-top: 30%" th:href="@{/authoritarian/login}">Login</a>
    </div>
</div>

<!-- Plugin scripts -->
<script th:src="@{/vendors/bundle.js}" src="../static/vendors/bundle.js"></script>

<!-- App scripts -->
<script th:src="@{/assets/js/app.js}" src="../static/assets/js/app.js"></script>
</body>

</html>