<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${@environment.getProperty('application.info.name')}">Title</title>
    <link rel="shortcut icon" href="/favicon.ico" th:href="@{/favicon.png}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <style>
        .error-message{
            color: #a92a2a ;float: left; font-size: 12px;
            margin-bottom: 1px;
        }
    </style>
</head>
<body style="background: url('/img/default-background.png')">
<div style=" margin-top:50px" class="mainbox col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Contact us</div>
            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a href="#" th:href="@{/}">Home</a></div>
        </div>
        <div class="panel-body" >
            <form th:action="@{/register/sign-up}" th:object="${sign_up_request}" method="post" class="form-horizontal" role="form">
                <div th:if="${!#strings.isEmpty(message)}" class="alert alert-danger">
                    <p  th:text="${message}">Message</p>
                    <span></span>
                </div>
                <div class="input-group">
                    <p class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
                </div>
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="username" th:field="*{username}" type="text" class="form-control" name="username"
                           value="" placeholder="Enter Username">

                </div>
                <div class="input-group">
                    <p class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Username Error</p>
                </div>
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input id="email" th:field="*{email}" type="text" class="form-control" name="email"
                           value="" placeholder="Enter Valid Email">
                </div>
                <div class="input-group">
                    <p class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
                </div>
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" th:field="*{password}" type="password" class="form-control" name="password"
                           placeholder="password">
                </div>
                <div class="input-group">
                    <p class="error-message" th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}">Password Error</p>
                </div>
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="rePassword" th:field="*{rePassword}" type="password" class="form-control" name="rePassword"
                           placeholder="Reply Password">
                </div>
                <div class="form-group" >
                    <div class="col-md-1">
                        <input type="checkbox" class="form-control" style="height: 23px;" id="agreement"  th:field="*{agreement}">
                    </div>
                    <label for="agreement" class="control-label">Accept <a href="#">agreements</a>
                        &nbsp;<span class="error-message" style="float: right" th:if="${#fields.hasErrors('agreement')}"
                                    th:errors="*{agreement}">agreement Error</span>
                    </label>

                </div>
                <div class="input-group" style="margin-left: -14px">
                    <div class="g-recaptcha col-sm-5" th:attr="data-sitekey=${@captchaService.getReCaptchaSite()}"
                         data-callback="onReCaptchaSuccess" data-expired-callback="onReCaptchaExpired"></div>
                    <span id="captchaError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <div style="margin-top:10px" class="form-group">
                    <div class="col-sm-12 controls">
                        <input type="submit" id="btn-login" value="Sign Up" href="#" class="btn btn-success">
                    </div>
                </div>

                <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">
                    <div style="margin-left: 0px" class="form-group">
                        <div class="col-sm-12 controls">
                            <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
</body>
</html>