<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/header :: header-style">
    <title>header load from fragment</title>
</head>

<body class="login-img3-body">

<div class="container">

    <form  class="login-form" th:action="@{/auth/password-user}" method="post" th:object="${password_request_user}" >
        <div class="login-wrap">
            <p class="login-img"><i class="icon_shield"></i></p>
            <span style="color: #a92a2a" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username Error</span>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="icon_profile"></i>
                    &nbsp;username: &nbsp; <strong th:text="${username_to_update}"></strong>
                </span>
                <input type="hidden" th:field="*{username}" th:value="${username_to_update}" class="form-control" placeholder="Last password" autofocus>
            </div>
            <span style="color: #a92a2a" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">username Error</span>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" th:field="*{newPassword}" class="form-control" placeholder="New Password">
            </div>
            <span style="color: #a92a2a" th:if="${#fields.hasErrors('reNewPassword')}" th:errors="*{reNewPassword}">username Error</span>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" th:field="*{reNewPassword}" class="form-control" placeholder="Replay New Password">
            </div>
            <button class="btn btn-info btn-lg btn-block" type="submit">Update</button>
        </div>
    </form>
</div>


</body>

</html>

</html>
