<!DOCTYPE html>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>قالب Nextable - قالب مدیریتی نکستیبل</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.ico" th:href="@{/favicon.png}">

	<!-- Theme Color -->
	<meta name="theme-color" content="#5867dd">

	<!-- Plugin styles -->
	<link rel="stylesheet" th:href="@{/vendors/bundle.css}" href="../static/vendors/bundle.css" type="text/css">
	<!-- App styles -->
	<link rel="stylesheet" th:href="@{/assets/css/app.css}" href="../static/assets/css/app.css" type="text/css">
</head>

<body class="form-membership">

	<!-- begin::page loader-->
	<div class="page-loader">
		<div class="spinner-border"></div>
	</div>
	<!-- end::page loader -->

	<div class="form-wrapper">

		<!-- logo -->
		<div class="logo">
			<img th:src="@{/assets/media/image/logo-sm.png}" src="../static/assets/media/image/logo-sm.png" alt="image">
		</div>
		<!-- ./ logo -->

		<h5>Email: &nbsp; <strong th:text="${verify_email}"></strong></h5>
		<p th:text="${result_message}">Validate</p>
		<!-- form -->
		<form th:action="@{/authoritarian/forget/send}" th:object="${pass_forget_request}"
			  method="post">

			<span style="color: #a92a2a" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username Error</span>
			<div class="form-group">
				<input type="hidden" th:field="*{username}" class="form-control" placeholder="Username" autofocus required>
			</div>
			<span id="resendLink">02:00</span>
			<hr>
			<button class="btn btn-primary btn-block" type="submit" th:unless="${resend}">ارسال</button>
			<button class="btn btn-primary btn-block" id="resendText" type="submit" onclick="return canResend;" th:if="${resend}">ارسال دوباره</button>
		</form>
		<!-- ./ form -->

	</div>

	<!-- Plugin scripts -->
	<script th:src="@{/vendors/bundle.js}" src="../static/vendors/bundle.js"></script>

	<!-- App scripts -->
	<script th:src="@{/assets/js/app.js}" src="../static/assets/js/app.js"></script>
</body>
<script th:if="${resend}">
	var canResend=false;
	function startTimer(duration, display) {
		var timer = duration, minutes, seconds;
		var interval = setInterval(function () {
			minutes = parseInt(timer / 60, 10);
			seconds = parseInt(timer % 60, 10);

			minutes = minutes < 10 ? "0" + minutes : minutes;
			seconds = seconds < 10 ? "0" + seconds : seconds;

			display.textContent = minutes + ":" + seconds;

			if (--timer < 0) {
				timer = duration;
			}
			if (minutes==0o0&seconds==0o0){
				canResend=true;
				document.getElementById("resendText").className="btn btn-primary btn-lg btn-block";
				display.textContent="";
				clearInterval(interval);
			}
		}, 1000);

	}
	window.onload = function () {
		var fiveMinutes = 60 * 2 , display = document.querySelector('#resendLink');
		startTimer(fiveMinutes, display);
	};
</script>
</html>