<!DOCTYPE html>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>بازنشانی رمز عبور</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" th:href="@{/favicon.png}">

    <!-- Theme Color -->
    <meta name="theme-color" content="#5867dd">

    <!-- Plugin styles -->
    <link rel="stylesheet" th:href="@{/vendors/bundle.css}" href="../static/vendors/bundle.css" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" th:href="@{/assets/css/app.css}" href="../static/assets/css/app.css" type="text/css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body class="form-membership">


<div class="form-wrapper">

    <!-- logo -->
    <div class="logo">
        <img th:src="@{/assets/media/image/logo-sm.png}" src="../static/assets/media/image/logo-sm.png" alt="image">
    </div>
    <!-- ./ logo -->

    <h5>بازیابی کلمه عبور</h5>

    <!-- form -->
    <form th:action="@{/authoritarian/forget}" th:object="${pass_forget_request}" method="post">
        <label style="color: #a92a2a" th:if="${#fields.hasErrors('username')}"
              th:errors="*{username}">username Error</label>
        <div class="form-group">
            <input type="text" th:field="*{username}" class="form-control" placeholder="نام کاربری یا ایمیل" dir="ltr"
                   required autofocus>
        </div>
        <div class="form-group" style="margin-left: -17px;">
            <!-- to enable captcha uncomment the keys in application.properties -->
            <div class="g-recaptcha col-sm-5" th:attr="data-sitekey=${@captchaService.getReCaptchaSite()}"
                 data-callback="onReCaptchaSuccess" data-expired-callback="onReCaptchaExpired"></div>
            <span id="captchaError" class="alert alert-danger col-sm-4" style="display:none"></span>
        </div>
        <button class="btn btn-primary btn-block">ثبت</button>
        <hr>
        <p class="text-muted">یک عمل دیگر انجام دهید.</p>
        <a th:href="@{/authoritarian/signUp}" class="btn btn-sm btn-outline-light mr-1 my-1">هم اکنون ثبت نام کنید!</a>
        یا
        <a th:href="@{/authoritarian/login}" class="btn btn-sm btn-outline-light ml-1 my-1">وارد شوید!</a>
    </form>
    <!-- ./ form -->

</div>

<!-- Plugin scripts -->
<script th:src="@{/vendors/bundle.js}" src="../static/vendors/bundle.js"></script>

<!-- App scripts -->
<script th:src="@{/assets/js/app.js}" src="../static/assets/js/app.js"></script>
</body>

</html>