<!DOCTYPE html>
<html lang="fa" dir="rtl"  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>ایجاد حساب کاربری</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.ico" th:href="@{/static/img/favicon.png}">

	<!-- Theme Color -->
	<meta name="theme-color" content="#5867dd">

	<!-- Plugin styles -->
	<link rel="stylesheet" th:href="@{/vendors/bundle.css}" href="../static/vendors/bundle.css" type="text/css">

	<!-- App styles -->
	<link rel="stylesheet" th:href="@{/assets/css/app.css}" href="../static/assets/css/app.css" type="text/css">
	<script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body class="form-membership">

	<!-- begin::page loader-->
	<div class="page-loader">
		<div class="spinner-border"></div>
	</div>
	<!-- end::page loader -->

	<div class="form-wrapper">

		<!-- logo -->
		<div class="logo">
			<img th:src="@{/assets/media/image/logo-sm.png}" src="../static/assets/media/image/logo-sm.png" alt="image">
		</div>
		<!-- ./ logo -->

		<h5>ایجاد حساب</h5>
		<p th:if="message" th:text="${message}">Validate</p>
		<!-- form -->
		<form th:action="@{/authoritarian/signUp}" style="margin-top: 50px" method="post" th:object="${sign_up_request}">
			<span style="color: #a92a2a" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username Error</span>
			<div class="form-group">
				<input type="text" th:field="*{username}" class="form-control" placeholder="نام کابری" required autofocus>
			</div>
			<span style="color: #a92a2a" th:if="${#fields.hasErrors('nationalCode')}" th:errors="*{nationalCode}">username Error</span>
			<div class="form-group">
				<input type="text" th:field="*{nationalCode}" class="form-control" placeholder="کدملی" required>
			</div>
			<span style="color: #a92a2a" th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}">email Error</span>
			<div class="form-group">
				<input type="text" th:field="*{mobile}" class="form-control" placeholder="موبایل" required>
			</div>
			<span style="color: #a92a2a" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</span>
			<div class="form-group">
				<input type="email" th:field="*{email}" class="form-control text-left" placeholder="ایمیل" dir="ltr" required>
			</div>
			<span style="color: #a92a2a" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</span>
			<div class="form-group">
				<input type="password" th:field="*{password}" class="form-control text-left" placeholder="رمز عبور" dir="ltr" required>
			</div>
			<span style="color: #a92a2a" th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}">username Error</span>
			<div class="form-group">
				<input type="password" th:field="*{rePassword}" class="form-control text-left" placeholder="تکرار رمز عبور" dir="ltr" required>
			</div>
			<div class="form-group d-sm-flex justify-content-between text-left mb-4">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" th:field="*{agreement}" class="custom-control-input" checked id="customCheck1">
					<label class="custom-control-label" for="customCheck1">قوانین و شرایط را میپذیرم</label>
				</div>
			</div>
			<div class="form-group" style="margin-left: -17px;">
				<!-- to enable captcha uncomment the keys in application.properties -->
				<div class="g-recaptcha col-sm-5" th:attr="data-sitekey=${@captchaService.getReCaptchaSite()}" data-callback="onReCaptchaSuccess" data-expired-callback="onReCaptchaExpired"></div>
				<span id="captchaError" class="alert alert-danger col-sm-4" style="display:none"></span>
			</div>
			<button class="btn btn-primary btn-block">ثبت نام</button>
			<hr>
			<p class="text-muted">حساب کاربری دارید؟</p>
			<a href="/authoritarian/login" class="btn btn-outline-light btn-sm">وارد شوید!</a>
		</form>
		<!-- ./ form -->

	</div>


	<!-- Plugin scripts -->
	<script th:src="@{/vendors/bundle.js}" src="../static/vendors/bundle.js"></script>

	<!-- App scripts -->
	<script th:src="@{/assets/js/app.js}" src="../static/assets/js/app.js"></script>
</body>

</html>