<!DOCTYPE html>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>قالب Nextable - قالب مدیریتی نکستیبل</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.ico" th:href="@{/static/img/favicon.png}">

	<!-- Theme Color -->
	<meta name="theme-color" content="#5867dd">

	<!-- Plugin styles -->
	<link rel="stylesheet" th:href="@{/vendors/bundle.css}" href="../static/vendors/bundle.css" type="text/css">
	<!-- App styles -->
	<link rel="stylesheet" th:href="@{/assets/css/app.css}" href="../static/assets/css/app.css" type="text/css">
</head>

<body class="form-membership">

	<!-- begin::page loader-->
	<div class="page-loader">
		<div class="spinner-border"></div>
	</div>
	<!-- end::page loader -->

	<div class="form-wrapper">

		<!-- logo -->
		<div class="logo">
			<img th:src="@{/assets/media/image/logo-sm.png}" src="../static/assets/media/image/logo-sm.png" alt="image">
		</div>
		<!-- ./ logo -->

		<h5>تایید شماره موبایل</h5>
		&nbsp;Mobile: &nbsp; <strong th:text="${mobile_number}"></strong>
		<!-- form -->
		<form th:action="@{/authoritarian/signUp-step2}" method="post" th:object="${step_tow_request}">
			<span style="color: #a92a2a" th:if="${#fields.hasErrors('token')}" th:errors="*{token}">token error</span>
			<input type="hidden" th:field="*{token}" th:value="${step_tow_request.token}">
			<span style="color: #a92a2a" th:if="${#fields.hasErrors('smsCode')}" th:errors="*{smsCode}">smsCode Error</span>
			<div class="form-group">
				<input type="text" th:field="*{smsCode}"  class="form-control" placeholder="کد تایید" dir="ltr" required autofocus>
			</div>
			<a th:href="${'/authoritarian/sms-resend/'+token_resend+'?mobile='+mobile_number}"
			   onclick="return canResend;" id="resendText" class="btn btn-sm btn-outline-light mr-1 my-1">ارسال دوباره </a>
			<span id="resendLink">02:00</span>
			<hr>
			<button class="btn btn-primary btn-block">ثبت</button>
		</form>
		<!-- ./ form -->

	</div>

	<!-- Plugin scripts -->
	<script th:src="@{/vendors/bundle.js}" src="../static/vendors/bundle.js"></script>

	<!-- App scripts -->
	<script th:src="@{/assets/js/app.js}" src="../static/assets/js/app.js"></script>
</body>
<script>
	var canResend=false;
	function startTimer(duration, display) {
		var timer = duration, minutes, seconds;
		var interval = setInterval(function () {
			minutes = parseInt(timer / 60, 10);
			seconds = parseInt(timer % 60, 10);

			minutes = minutes < 10 ? "0" + minutes : minutes;
			seconds = seconds < 10 ? "0" + seconds : seconds;

			display.textContent = minutes + ":" + seconds;

			if (--timer < 0) {
				timer = duration;
			}
			if (minutes==0o0&seconds==0o0){
				canResend=true;
				document.getElementById("resendText").style="color: blue !important;font-size: 15px;";
				display.textContent="";
				clearInterval(interval);
			}
		}, 1000);

	}
	window.onload = function () {
		var fiveMinutes = 60 * 2 , display = document.querySelector('#resendLink');
		startTimer(fiveMinutes, display);
	};
</script>
</html>