<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/header :: header-style">
    <title>header load from fragment</title>
</head>

<body class="login-img3-body" sec:authorize="hasRole('ADMIN')">

<div class="container">

    <form  class="login-form" th:action="@{/auth/signUp}" method="post" th:object="${sign_up_request}" >
        <div class="login-wrap">
            <p class="login-img"><i class="icon_shield"></i></p>
            <p th:if="message" th:text="${message}">Validate</p>
            <span style="color: #a92a2a" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username Error</span>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                <input type="text" th:field="*{username}" class="form-control" placeholder="Username" autofocus  required>
            </div>
            <span style="color: #a92a2a" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</span>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_mail"></i></span>
                <input type="email" th:field="*{email}" class="form-control" placeholder="Email" required>
            </div>
            <span style="color: #a92a2a" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</span>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" th:field="*{password}" class="form-control" placeholder="Password"  required>
            </div>
            <span style="color: #a92a2a" th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}">username Error</span>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" th:field="*{rePassword}" class="form-control" placeholder="Replay Password" required>
            </div>
            <span style="color: #a92a2a" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">username Error</span>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_lock"></i></span>
                <select class="form-control m-bot15" th:field="*{role}" name="role">
                    <option value="user" selected>User</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            <label class="checkbox">
                <input type="checkbox" th:field="*{sendEmail}" value="sendEmail"> Send Verification Email
                <span class="pull-right"> <a href="/panel"> Cancel</a></span>
            </label>
            <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>
        </div>
    </form>
</div>


</body>

</html>

</html>
